<ul class="right">  
  <li class="has-form">
    {{input placeholder=searchTranslation action="search"}}
  </li>
  <li class="has-form">
    <a class="button" {{action "logout" on="click"}}>{{t "logout"}}</a>
  </li>
</ul>