<div class="sticky">
  <nav class="top-bar" data-topbar>
    <ul class="title-area">
      <li class="name">
        <h1>{{#link-to "index"}}uvr2web{{/link-to}}</a></h1>
      </li>
      <li class="toggle-topbar menu-icon"><a href="#"></a></li>
    </ul>
    {{#if App.api.loggedIn}}
      <section class="top-bar-section">
        <ul class="left">
          {{#each item in navigationItems}}
            {{#link-to item.route tagName="li"}}{{#link-to item.route}}{{item.translation}}{{/link-to}}{{/link-to}}
          {{/each}}
        </ul>
        {{render "header.right"}}
      </section>
    {{/if}}
  </nav>
</div>